@tailwind base;
@tailwind components;
@tailwind utilities;

.responsive{
    width: 420px;
    justify-content: space-between;
    @media (max-width: 500px) {
        width: fit-content;
        height: 135px;
        flex-direction: column;
        align-items: center;
    }
}